@charset "UTF-8";

/* @media screen and (max-width: 768px) { */
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    html {
        height: 100vh;
    }

    /* H  E  A  D  E  R */

    header {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    header > img {
        width: 200px;
    }

    nav {
        margin-top: 30px;
    }

    nav > a {
        margin: 5px 15px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }

    /* B  A  N  N  E  R   */

    /* .banner {
        background-image: url(../images/bg-surf.jpg);
        background-position: center center;
        background-size: cover;
        width: 100vw;
        height: 400px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: white;
        padding: 30px;
    } */

    .banner {
        /* Remove a imagem do background original (será substituída pelo ::before) */
        background-image: none;
        position: relative; /* Permite posicionar o ::before */
        width: 100%;
        height: 400px;
        color: white;
        padding: 30px;
        overflow: hidden; /* Garante que o filtro não vaze */

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    
    /* Camada de fundo com filtro */
    .banner::before {
        content: "";
        background-image: url(../images/bg-surf.jpg);
        background-position: center center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Coloca atrás do conteúdo */
    
        /* Aplique seus filtros aqui (exemplos): */
        filter: brightness(45%) contrast(1.1) saturate(0.9);
        /* brightness: escurece/clareia | contrast: ajusta contraste | saturate: intensidade de cor */
    }

    .banner > h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .banner > p {
        margin-bottom: 25px;
    }

    .banner > a {
        background-color: rgb(27, 117, 208);
        color: white;
        text-align: center;
        text-decoration: none;
        padding: 15px 60px;
        align-self: center;
        border-radius: 10px;
        font-weight: bold;
    }

    /* I   N   F   O   S */

    .infos {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }   
    
    hr {
        width: 350px;
        margin: 0 auto;
    }

    .pag > img {
        width: 60px;
    }

    .pag > h2 {
        margin: 15px 0px;
    }

    .frete > img {
        width: 60px;
    }

    .frete > h2 {
        margin: 15px 0px;
    }

    .desc > img {
        width: 60px;
    }

    .desc > h2 {
        margin: 15px 0px;
    }


    /* P  R  O  D  U  C  T  S */

   .products {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 0px;
    place-items: center;
   }

   .items {
    /* background-color: aqua; */
    height: 400px;
    width: 350px;
    align-content: end;
    /* justify-items: center; */
    text-align: center;
    color: black;
    border-radius: 20px;
   }

   .items > img {
    width: 300px;
   }

   .items > h2 {
    font-size: 15px;
    text-align: center;
   }

   .items > h3 {
    margin: 10px;
    font-weight: 50;
   }

   .items > a {
    display: block;
    margin: 15px;
    padding: 10px 20px;
    background-color: black;
    text-decoration: none;
    border-radius: 10px;
    color: white;
   }

    main > a {
    display: block;
    margin: 70px auto;
    background-color: rgb(27, 117, 208);
    color: white;
    text-decoration: none;
    padding: 15px 60px;
    font-weight: bold;
    border-radius: 10px;
    width: 56%;
    text-align: center;
   }


   /* F  O  O  T  E  R */


   footer {
    margin-top: 70px;
    background-color: black;
    color: white;
   }

   .atendimento {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
   }

   .atendimento > h2 {
    margin: 17px;
   }

   .atendimento > a {
    color: white;
   }

   .pay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 10px;
   }

   .pay > img {
    width: 250px;
   }

   footer > p {
    text-align: center;
    margin-bottom: 5px;
   }

   footer > p:nth-child(3) {
    font-size: 13px;
   }

   footer > p:nth-child(6) {
    font-size: 13px;
    text-align: center;
   }

/* } */

/* ----------------------------------------------------------------------------- */
    /* Q   U   E   M      S   O   M   O   S */
/* ----------------------------------------------------------------------------- */

    #fotos {
        /* background-color: aqua; */
        padding: 20px 0px;
        display: flex;
        justify-content: center;
    }

    #fotos > img {
        /* padding: 40px ; */
        width: 400px;
        height: 450px;
    }

    #fotos > img:nth-child(1) {
        display: none;
    }

    #fotos > img:nth-child(2) {
        display: none;
    }

    #texto {
        
        padding: 20px 30px;
        line-height: 30px;
    }

    #texto > h1 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 21px;
    }

    #textoo > p {
        text-align: justify;
    }


/* ----------------------------------------------------------------------------- */
    /* P   R   O   D   U   T   O   S */
/* ----------------------------------------------------------------------------- */

    #cont {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    /* place-items: ; */
   }

    #prod {
        text-align: center;
        padding: 35px;
    }

    #prod > h1 {
        font-size: 35px;
        margin-bottom: 30px;
    }

    #prod > p {
        font-size: 15px;
    }

     .itemsProd {
    /* background-color: aqua; */
    height: 300px;
    width: 150px;
    align-content: end;
    /* justify-items: center; */
    text-align: center;
    color: black;
    border-radius: 20px;
   }

   .itemsProd > img {
    width: 150px;
   }

   .itemsProd > h2 {
    font-size: 15px;
    text-align: center;
   }

   .itemsProd > h3 {
    margin: 10px;
    font-weight: 50;
   }

   .itemsProd > a {
    display: block;
    margin: 15px;
    padding: 10px 20px;
    background-color: black;
    text-decoration: none;
    border-radius: 10px;
    color: white;
   }